<nav class="nav flex justify-content-between">
    <ul class="nav nav-tabs">
        <li class="nav-item"><button id="show-all" class="nav-link active">All</button></li>
        <li class="nav-item"><button id="show-owned" class="nav-link active">Owned</button></li>
        <li class="nav-item"><button id="show-unowned" class="nav-link active">Unowned</button></li>
        <li class="nav-item"><button id="read-or-unread" class="nav-link active">Read and Unread</button></li>
    </ul>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" href="/bookworm/new">To add a new Book</a></li>
    </ul>
</nav>