<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>New book page</h1>
        <div class="container">
            <form action="/bookworm" method="POST">
                <input type="text" name="name" placeholder= "Book Title" > <br>
                <input type="text" name="genre" placeholder= "Genre" > <br>
                <input type="text" name="img" placeholder= "Cover Image" ><br>
                <input type="text" name="author" placeholder= "Author" > <br>
                <input type="number" name="price" placeholder="Price"> <br>
                <input type="text" name="description" placeholder= "Description" > <br>
                <input type="checkbox" name="read"> <p>Check for Read/ Leave empty for Unread</p> <br>
                <input type="checkbox" name="owned"> <p>Check for Owned/ Leave empty for Unowned</p> <br>
                <input type="submit" value="Create Book">
            </form>
        </div>
</body>
</html>